#intro{
    .image{
    background-image: url(../assets/imagens/Background_Intro.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    }

    header{
        justify-items: center;
        align-items: center;

        img{
            padding-block: 140px 56px;
        }

        
        div:nth-child(2){
            justify-items: center;

            h2{
                margin-bottom: 8px;
            }

            p{
                margin-top: 20px;
            }
        }
    }

    #tags{
        display: flex;
        margin-top: 100px;
        gap: 16px;
        justify-content: center;
    }

    .tag{
        display: flex;
        background-color: var(--gray-300);
        border-radius: 50px;
        padding-inline: 16px;
        padding-block: 8px;
        align-items: center;
    }
}

#projeto{
    background-color: var(--gray-200);
    height: 100vh;
    padding-block: 50px 184px;
    gap: 56px;
    
    header{
        text-align: center;
    }

    #projetos{
        grid-template-columns: 1fr 1fr 1fr;
        width: 1040px;
        height: 584px;

        .projectcard{
            background-color: var(--gray-300);
            border-radius: 12px;
            padding: 12px;
            gap: 20px;
            justify-items: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 12px;
            width: 330px;
            height: 280px;

            div{
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding: 4px;
                width: 306px;
                height: 75px;
                h2{
                    font: var(--title-sm);
                    color: var(--gray-600);
                    
                }

                p{
                    font: var(--text-sm);
                    color: var(--gray-500);
                }
            }    

            img{
                height: 156px;
                width: 306px;
                border-radius: 8px;
            }
        }
    }

}
