.container{
  padding-inline: 120px;
}

.title-lg{
  font: var(--title-lg);
  color: var(--gray-600);
}

.title-md{
  font: var(--title-md);
  color: var(--gray-600);
}

.title-sm{
  font: var(--title-sm);
  color: var(--gray-600);
}

.subtitulo{
  font: var(--subtitle)
}

.text-md{
  font: var(--text-md);
}

.text-sm{
  font: var(--text-sm);
  color: var(--gray-500);
}

.mark{
  background-color: transparent;
  color: var(--red);
}

.purple{
        color: var(--purple);
}

.flex{
  display: flex;
}

.flex-col{
  flex-flow: column;
}

.grid{
  display: grid;
}

.grid-col{
  grid-template-columns: 2fr 15.5fr 1fr;
}

.gap-8{
  gap: 8px;
}

.gap-16{
  gap: 16px;
}

.gap-20{
  gap: 20px;
}

.gap-24{
  gap: 24px;
}

.gap-56{
  gap: 56px;
}

relative{
  position: relative;
}